<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management Demo</title>
    <link href="../assets/style.css" rel="stylesheet">
</head>
<body>
<h1>Bank Management Demo</h1>

<div class="block">
    <label for="bankNameInput">Enter Bank Name:</label>
    <input type="text" id="bankNameInput" placeholder="Bank Name">
    <button id="addBankButton">init bank name</button>
</div>

<div class="block">
    <div style="margin-bottom: 10px;">
        <label for="departmentNameInput">Enter Department Name:</label>
        <input type="text" id="departmentNameInput" placeholder="Department Name">
        <button id="addDepartmentButton">Add Department</button>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="departmentDeleteByName">Enter Department Name:</label>
        <input type="text" id="departmentDeleteByName" placeholder="Department Name">
        <button id="departmentDeleteByNameButton">delete Department</button>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="departmentFindByName">Enter Department Name:</label>
        <input type="text" id="departmentFindByName" placeholder="Department Name">
        <button id="findByNameDepartmentButton">find Department</button>
    </div>

</div>
<div style="display: flex; align-items: center" class="block">
    <div style="margin-right: 10px">
        <div>
            <label for="lastNameInput">Enter Employee Last Name:</label>
            <input type="text" id="lastNameInput" placeholder="Last Name">
        </div>
        <div style="margin-top: 10px">
            <label for="positionInput">Enter Employee Position:</label>
            <input type="text" id="positionInput" placeholder="Position">
        </div>
    </div>
    <button id="addEmployeeButton">Add Employee</button>
</div>
<div class="block">
    <button id="getBankStructureButton">Get Bank Structure</button>
</div>
<div class="block">
    <button id="loadDataButton">Load Data</button>
</div>
<div class="block">
    <button id="saveDataButton">Save Data</button>
</div>

<pre id="bankStructureOutput"></pre>



<script>
    const { ipcRenderer } = require('electron');

    document.getElementById('addDepartmentButton').addEventListener('click', () => {
        const departmentName = document.getElementById('departmentNameInput').value;
        ipcRenderer.send('addDepartment', departmentName);
    });
    document.getElementById('departmentDeleteByNameButton').addEventListener('click', () => {
        const departmentName = document.getElementById('departmentDeleteByName').value;
        ipcRenderer.send('removeDepartment', departmentName);
    });
    document.getElementById('findByNameDepartmentButton').addEventListener('click', () => {
        const departmentName = document.getElementById('departmentFindByName').value;
        ipcRenderer.send('findDepartment', departmentName);
    });

    document.getElementById('addEmployeeButton').addEventListener('click', () => {
        const lastName = document.getElementById('lastNameInput').value;
        const position = document.getElementById('positionInput').value;
        ipcRenderer.send('addEmployee', { lastName, position });
    });

    document.getElementById('getBankStructureButton').addEventListener('click', () => {
        ipcRenderer.send('getBankStructure');
    });

    document.getElementById('addBankButton').addEventListener('click', () => {
        const bankName = document.getElementById('bankNameInput').value;
        ipcRenderer.send('initBank', {bankName});
    });

    document.getElementById('loadDataButton').addEventListener('click', () => {
        ipcRenderer.send('loadData');
    });

    document.getElementById('saveDataButton').addEventListener('click', () => {
        ipcRenderer.send('saveData');
    });

    ipcRenderer.on('enableSaveButton', () => {
        document.getElementById('saveDataButton').disabled = false;
    });

    ipcRenderer.on('bankStructure', (event, bankStructure) => {
        function convertStructureToHTML(structure) {
            if (!structure || typeof structure !== 'object') {
                return '';
            }

            let htmlResult = `<strong>${structure.bankName}</strong><ul>`;

            if (structure.departmentList && structure.departmentList.head) {
                let current = structure.departmentList.head;

                while (current) {
                    const department = current.data;
                    htmlResult += `<li>${department.departmentName}`;

                    if (department.employeeList && department.employeeList.head) {
                        htmlResult += '<ul>';
                        let employeeNode = department.employeeList.head;

                        while (employeeNode) {
                            const employee = employeeNode.data;
                            htmlResult += `<li>${employee.lastName} - ${employee.position}</li>`;
                            employeeNode = employeeNode.next;
                        }
                        htmlResult += '</ul>';
                    }

                    htmlResult += '</li>';
                    current = current.next;
                }
            }

            htmlResult += '</ul>';
            return htmlResult;
        }

        document.getElementById('bankStructureOutput').innerHTML = convertStructureToHTML(bankStructure);
    });

</script>
</body>
</html>
